<mat-toolbar>
  <button mat-mini-fab color="primary" [routerLink]="['/']" class="shadow-none">
    <mat-icon svgIcon="kcaa_logo"></mat-icon>
  </button>

  <mat-divider vertical class="mr-3 ml-3 h-75"></mat-divider>

  <span role="button" routerLink="/weapons">Зброя</span>
  <button mat-icon-button color="primary" (click)="addWeapon()">
    <mat-icon>control_point</mat-icon>
  </button>

  <mat-divider vertical class="mr-3 ml-2 h-75"></mat-divider>

  <span role="button" routerLink="/weapon-props">Властивості зброї</span>
  <button mat-icon-button color="primary" (click)="addWeaponProp()">
    <mat-icon>control_point</mat-icon>
  </button>
  
  <span class="spacer"></span>

  <button mat-icon-button color="primary" type="button" (click)="changeTheme()">
    <mat-icon>{{isDarkMode ? 'light_mode' : 'dark_mode'}}</mat-icon>
  </button>
</mat-toolbar>
