<ng-container *ngIf="data$ | async as dataQuery">
    <h1 class="display-4">Зброя</h1>

    <mat-card>
        <mat-card-content>
            <p>
                У вашого персонажа може бути майстерність із певною зброєю або цілими категоріями. Володіння зброєю дозволяє вам додати бонус майстерності до кидка атаки, котру ви здійснили з її допомогою.
            </p>
            <p>
                Більшість людей можуть вміло використовувати просту зброю, в той час як військова зброя вимагає більш спеціалізованих навичок.
                Рукопашна зброя найчастіше використовується для атаки по цілях в 5 футах від вас, а дальнобійна - для атаки на відстані.
                Вогнепальна зброя є дальнобійною, але зустрічається вкрай рідко і вимагає особливої підготовки, тому виділена в окрему категорію.
            </p>
            <p>
                Крім того, що ви можете купити зброю, ви можете спробувати створити її самостійно, якщо володієте відповідними інструментами. А деяка зброя зовсім не має ціни і її можна отримати лише створивши своїми руками.
            </p>
        </mat-card-content>
    </mat-card>

    <app-search-field (onSearch)="onSearch($event)"></app-search-field>

    <ng-container *ngFor="let weaponsPerType of sortedWeapons">
        <app-weapon-table-section [weaponSection]="weaponsPerType"></app-weapon-table-section>
    </ng-container>
</ng-container>

