<form [formGroup]="form" (ngSubmit)="saveWeapon()">
    <div class="d-flex justify-content-between">
        <div>
            <mat-form-field appearance="legacy">
                <mat-label>Название</mat-label>
                <input matInput formControlName="name">
            </mat-form-field>
            <mat-form-field appearance="legacy" class="ml-5">
                <mat-label>Тип</mat-label>
                <mat-select formControlName="weaponType">
                    <mat-option *ngFor="let type of weaponTypeOptions" [value]="type.value">
                    {{type.label}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    
        <div>
            <ng-container [ngTemplateOutlet]="headerButtonsTemplate"></ng-container>
        </div>
    </div>
    
    <div class="mb-2">
        <span formGroupName="damage">
            <span class="mr-2">Урон: </span>
            
            <mat-form-field appearance="legacy" class="mr-3 sm-field">
                <mat-label>Кол-во</mat-label>
                <input matInput type="number" formControlName="diceAmount" min="1" pattern="\d*">
            </mat-form-field>
        
            <mat-form-field appearance="legacy" class="mr-3 sm-field">
                <mat-label>Кость</mat-label>
                <mat-select formControlName="diceType">
                    <mat-option *ngFor="let dice of diceOptions" [value]="dice.value">
                    {{dice.label}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        
            <mat-form-field appearance="legacy" class="mr-5">
                <mat-label>Тип Урона</mat-label>
                <mat-select formControlName="damageType">
                <mat-option *ngFor="let type of damageTypeOptions" [value]="type.value">
                    {{type.label}}
                </mat-option>
                </mat-select>
            </mat-form-field>
        </span>
    
        <span formGroupName="price">
            <span class="mr-2">Цена: </span>
        
            <mat-form-field appearance="legacy" class="sm-field mr-1">
                <mat-label>Пм</mat-label>
                <input matInput type="number" formControlName="pp" min="0" pattern="\d*">
            </mat-form-field>
        
            <mat-form-field appearance="legacy" class="sm-field mr-1">
                <mat-label>Зм</mat-label>
                <input matInput type="number" formControlName="gp" min="0" pattern="\d*">
            </mat-form-field>
        
            <mat-form-field appearance="legacy" class="sm-field mr-1">
                <mat-label>См</mat-label>
                <input matInput type="number" formControlName="sp" min="0" pattern="\d*">
            </mat-form-field>
        
            <mat-form-field appearance="legacy" class="sm-field mr-5">
                <mat-label>Мм</mat-label>
                <input matInput type="number" formControlName="cp" min="0" pattern="\d*">
            </mat-form-field>
        </span>
    
        <span class="mr-2">Вес: </span>
    
        <mat-form-field appearance="legacy" class="sm-field">
            <mat-label>Кг</mat-label>
            <input matInput type="number" formControlName="weight" min="0" step="0.1">
        </mat-form-field>
    </div>
    
    <mat-chip-list aria-label="Weapon properties">
        <ng-container *ngFor="let prop of weaponProperties">
            <mat-chip color="accent" selected [matTooltip]="prop.data.description" matTooltipClass="tool-tip">
                {{prop.data.name}} {{prop.additionalData == null ? '' : '(' + prop.additionalData + ')'}}
    
                <button matChipRemove (click)="removeProperty(prop.id)">
                    <mat-icon>highlight_off</mat-icon>
                </button>
            </mat-chip>
        </ng-container>
        <mat-chip color="accent" selected>
            <button mat-icon-button aria-label="Add property icon" type="button" (click)="addProperty()">
                <mat-icon>add</mat-icon>
            </button>
        </mat-chip>
    </mat-chip-list>
    
    <div class="mt-4">
        <mat-divider [inset]="model"></mat-divider>
    </div>

    <mat-form-field appearance="legacy" class="full-width mt-4">
        <mat-label>Описание</mat-label>
        <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
    
    <div class="d-flex justify-content-between mb-1">
        <ng-container [ngTemplateOutlet]="footerButtonsTemplate"></ng-container>
        <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Сохранить</button>
    </div>
</form>