<form [formGroup]="form" (ngSubmit)="saveWeaponProp()">
    <div class="d-flex justify-content-between">
        <div>
            <mat-form-field appearance="legacy">
                <mat-label>Название</mat-label>
                <input matInput formControlName="name">
            </mat-form-field>
        </div>
    
        <div>
            <ng-container [ngTemplateOutlet]="headerButtonsTemplate"></ng-container>
        </div>
    </div>

    <div class="mt-1">
        <mat-divider [inset]="model"></mat-divider>
    </div>
    
    <mat-form-field appearance="legacy" class="full-width mt-4">
        <mat-label>Описание</mat-label>
        <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
    
    <div class="d-flex justify-content-between mb-1">
        <ng-container [ngTemplateOutlet]="footerButtonsTemplate"></ng-container>
        <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Сохранить</button>
    </div>
</form>