<mat-card matBadge="New" matBadgeSize="large" matBadgePosition="before" [matBadgeHidden]="!weaponProp.isNew">
    <mat-card-title class="d-flex justify-content-between mb-0">
        {{weaponProp.name}}
        <div>
            <button mat-icon-button color="primary" (click)="editWeaponProp()">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteWeaponProp()">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </mat-card-title>

    <div class="mb-3 mt-2">
        <mat-divider inset></mat-divider>
    </div>

    <mat-card-content>    
        {{weaponProp.description}}
    </mat-card-content>
</mat-card>

