<h1 mat-dialog-title>
    <div class="form-title">
        {{data.operation | operationTypeName}} властивість
        <button mat-icon-button (click)="closeDialog()">
            <mat-icon>clear</mat-icon>
        </button>
    </div>
</h1>

<div mat-dialog-content>
    <form [formGroup]="form">
        <mat-form-field appearance="legacy">
            <mat-label>Назва</mat-label>
            <input matInput formControlName="name">
        </mat-form-field>
        
        <mat-form-field appearance="legacy" class="full-width">
            <mat-label>Опис</mat-label>
            <textarea matInput formControlName="description"></textarea>
        </mat-form-field>
        
        <div mat-dialog-actions class="d-flex justify-content-between">
            <button mat-raised-button type="button" (click)="closeDialog()">Скасувати</button>
            <button mat-raised-button color="primary" type="button" [disabled]="!form.valid" [mat-dialog-close]="saveWeaponProp()">Зберегти</button>
        </div>
    </form>
</div>
