<app-weapon-form 
    [model]="weapon" 
    [onSave]="updateWeapon" 
    [headerButtonsTemplate]="headerButtons"
    [footerButtonsTemplate]="footerButtons">
</app-weapon-form>

<ng-template #headerButtons>
    <button mat-icon-button color="warn" aria-label="Delete weapon icon" (click)="deleteWeapon()">
        <mat-icon>delete</mat-icon>
    </button>
    <button mat-icon-button aria-label="Cancel edit icon" (click)="switchMode()">
        <mat-icon>clear</mat-icon>
    </button>
</ng-template>

<ng-template #footerButtons>
    <button mat-raised-button (click)="switchMode()">Отмена</button>
</ng-template>